.holiday-item{
    height: 320px;
    width: 300px;
   overflow: hidden;
   justify-content: space-between;
    font-family: "Roboto";
    background: linear-gradient(90deg, #ffffff 0%, #ffe1e1 100%);
    
}

.local-name{
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    color:#6d034a
}
.date{
    font-weight: 700;
    color:#6d034a
}